.game {
    display: flex;
    flex-direction: row;
}

.game__info {
    margin-left: 20px;
}

.history-step__button {
    padding: 4px 8px;
    margin-bottom: 8px;
    cursor: pointer;
    background: lightgray;
    border-radius: 0;
    border: none;
}
.history-step_active > .history-step__button {
    background-color: lightblue;
}
.history-step_active ~ .history-step > .history-step__button {
    opacity: .75;
}