.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.auth-form__login,
.auth-form__password {
  display: grid;
  grid-template-columns: 70px auto;
  grid-column-gap: 12px;
  align-items: center;
  margin-bottom: 8px;
}
.auth-form__button {
  margin-top: 12px;
}
